<!DOCTYPE html>
<!-- @author Steve Lucas v- 5/20/2018 -->
<!-- Personal Portolio Assignment -->
<html lang="en">
<head>
  <title>Steve Lucas Portfolio</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/portfoliostyles004.css">

</head>
<body>
  <div id="outerwrapper">
  <!-- Use headers for website name or logos -->
  <header>
    <a href="../index.html">
    <img class="portraitimg" src="../images/headshot.png" alt="Picture of Steve Lucas"
    height="220" width="190"></a>
    <div id="headerwrapper">
    <p><span class="myname">Steve Lucas</span><span class="headercontact">
    <br><a class="mobile" href="tel:8145559608">(814) 555-9608</a> (814)555-9608</span>
    <span class="headercontact"><a href="mailto:stevelucasCS@gmail.com">
    stevelucasCS@gmail.com</a></span></p>
    <!-- Use nav for hyperlinks to other pages within the site -->
    <nav>
      <a href="../index.html">About Me</a> &nbsp; &nbsp;
      <a href="portfolio.html">Resume</a> &nbsp; &nbsp;
      <a href="portfolio.html">Progamming</a> &nbsp; &nbsp;
      <a href="portfolio.html">IT</a> &nbsp; &nbsp;
      <a href="portfolio.html">Information Security</a> &nbsp; &nbsp;
      <a href="portfolio.html">Homeland Security</a> &nbsp; &nbsp;
      <a href="portfolio.html">Leadership</a> &nbsp; &nbsp;
      <a href="portfolio.html">Contact Information</a>
      <br><br><br>
    </nav>
    </div>
  </header>

  <!-- Use main for the main content of the webpage -->
  <div id = "main">
    <p>Coming soon to a server near you...</p>
    <p>This page is currently under construction. Click "About Me" to return home.</p>
  </div>
  <!--end main -->

  <!-- Use the footer to add webpage footer content -->
  <footer>
    Steve Lucas Portfolio
  </footer>
  </div> <!--end outerwrapper-->
</body>
</html>
